.bottom {
    width: 100%;
    height: 500px;
    background-color: #545454;
    text-align: center;
    margin-top: 100px;
}

.bottom-1 {
    width: 740px;
    height: 380px;
    margin: 0 auto;
    border-bottom: 2px solid #b1b1b1;
    display: inline-flex;
}

.bottom_1 {
    margin-right: 80px;
/*    width: 20%;
    float: left;*/
}

.bottom-1 ul {
    width: 20%;
    height: inherit;
    display: inline;
}

.bottom-1 ul li{
    list-style-type: none;
    line-height: 40px;
    text-align: left;
}

.bottom-1 ul li:first-child {
    margin-top: 45px;
    font-size: 18px;
    height: 70px;
    line-height: 50px;
    color: white;
}

.bottom-1 ul a{
    color: white;
    text-decoration: none;
    width: 10%;
}

.bottom-2 {
    margin-top: 35px;
    color: white;
    letter-spacing: 3px;
    font-size: 10px;
}