.banner-content {
    width: 100%;
    height: 700px;
    background: url("../images/traffic-banner.png") no-repeat;
    position: relative;
    -webkit-background-size: 100% 100%;
}

.banner-content span {
    height: 60px;
    width: 150px;
    position: absolute;
    bottom: 0px;
    margin: 0 0 300px 300px;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    text-align: center;
    line-height: 60px;
    letter-spacing: 3px;
    font-weight: 100;
}

.middle-content {
    width: 100%;
    height: 4000px;
    text-align: center;
}

.middle-content-1 {
    width: 100%;
    height: 100px;
    text-align: center;
}

.p1 {
    margin: 50px 0 30px 0;
    font-size: 22px;
    letter-spacing: 3px;
    color: #828282;
}

.p2 {
    font-size: 16px;
    letter-spacing: 3px;
    color: #828282;
}

.middle-content-1 span {
    border-bottom: 2px solid orange;
    font-size: 22px;
    padding-bottom: 10px;
    color: #828282;
}

.middle-content-2 {
    width: 800px;
    height: 400px;
    background: url("../images/t-1.jpg") no-repeat;
    margin: 0 auto;
}

.middle-content-2 div {
    height: inherit;
    width: 300px;
    background:rgba(0, 0, 0, 0.5);
}

.middle-content-2 div p:nth-child(1) {
    color: white;
    float: left;
    margin: 30px 0 0 30px;
    font-size: 20px;
    font-weight: 100;
}

.middle-content-2 div p:nth-child(3) {
    color: white;
    float: left;
    margin: 30px 30px 0 30px;
    text-align: justify;
    font-weight: 100;
}

.middle-content-3 {
    width: 1200px;
    height: 50px;
    margin: 50px auto;
}

.middle-content-3 p {
    font-size: 22px;
    color: #828282;
    letter-spacing: 3px;
}

.middle-content-4 {
    width: 900px;
    height: 550px;
    margin: 50px auto;
    background: url("../images/t-t1.jpg") no-repeat;
    border-bottom: 1px solid #bababa;
}

.middle-content-5 {
    width: 900px;
    height: 350px;
    margin: 0 auto;
    display: inline-flex;
    margin-bottom: 50px;
}

.pic-div {
    height: inherit;
    width: 650px;
    background: url("../images/t-t2.jpg") no-repeat;
}

.text-div {
    height: inherit;
    width: 250px;
}

.text-div p {
    color: #828282;
    text-align: justify;
}

.text-div p:nth-child(1) {
    font-size: 20px;
    margin-bottom: 30px;   
}

.text-div p:nth-child(2) {
    font-size: 16px;
    margin-bottom: 15px;
}

.text-div p:nth-child(3) {
    font-size: 16px;
    margin-bottom: 15px;
}

.text-div p:nth-child(4) {
    font-size: 16px;
    margin-bottom: 15px;
}

.text-div p:nth-child(5) {
    font-size: 16px;
}

.middle-content-6 {
    width: 900px;
    height: 650px;
    background: url("../images/t-t6.png") no-repeat;
    margin: 100px auto;
    border-bottom: 1px solid #bababa;
}

.middle-content-7 {
    width: 900px;
    height: 100px;
    margin: 0 auto;
}

.middle-content-7 p {
    color: #828282;
}

.member_ul {
    position:absolute;
    top:110px;
    margin-left:115px;
    background:#fff;
    width:100px;
    height:310px;
    border-top:none;
    display:none;
}
.member_ul li {
    height:20px;
    line-height:25px;
    text-indent:20px;
    letter-spacing:1px;
    margin-left: -15px !important;
    height: 50px !important;
}
.member_ul a {
    display:block;
    text-decoration:none;
    color:#333;
}

.bottom {
    width: 100%;
    height: 500px;
    background-color: #545454;
    text-align: center;
    /*margin-top: 100px;*/
    /*position: absolute;*/
}

.bottom-1 {
    width: 740px;
    height: 380px;
    margin: 0 auto;
    border-bottom: 2px solid #b1b1b1;
    display: inline-flex;
}

.bottom_1 {
    margin-right: 80px;
/*    width: 20%;
    float: left;*/
}

.bottom-1 ul {
    width: 20%;
    height: inherit;
    display: inline;
}

.bottom-1 ul li{
    list-style-type: none;
    line-height: 40px;
    text-align: left;
}

.bottom-1 ul li:first-child {
    margin-top: 45px;
    font-size: 18px;
    height: 70px;
    line-height: 50px;
    color: white;
}

.bottom-1 ul a{
    color: white;
    text-decoration: none;
    width: 10%;
}

.bottom-2 {
    margin-top: 35px;
    color: white;
    letter-spacing: 3px;
    font-size: 10px;
}